* {
    margin: 0 auto;
    /* max-width: 1024px; */
    font-family: 'Work Sans', sans-serif;
}


/* Navigation Section Style  */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0px;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 700;
}
.logo-G {
    color: #ff42a5;
}
.navbar {
    display: flex;
    align-items: center;
    gap: 27px;
}
.navbar a, button {
    color: #3C354F;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}
.navbar button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background-color: rgba(11, 2, 35, 0.10);
}


/* Header Section Style  */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf5f82c;
}
.header-container img {
    width: 100%;
}
.title-container {
    padding: 0px 40px 0 80px;
}
.title-container h3 {
    color: #0B0223;
    font-size: 1.5rem;
    font-weight: 600;
}
.title-container h1 {
    font-size: 3.5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-container p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 17px;
}
.title-container button {
    margin-top: 41px;
}
.btn-1 {
    background-color: #ff42a5;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    padding:12px 20px;
    border-radius: 48px;
    border: none;
}
.btn-2 {
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    padding:12px 20px;
    border-radius: 48px;
    border: none;
}


/* We Are Gamer Style Section  */
.gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    padding: 80px 120px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);;
}
.gamer-container img {
    width: 100%;
}
.gamer-container h1 {
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.gamer-title{
    width: 650px;
}
.gamer-container p {
    margin-top: 20px;
}
.gamer-container h3 {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 700;
}
.description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin: 25px 0;
}


/* Online Games Style section  */
.online-title {
    margin-top: 100px;
}
.online-title h1 {
    color: #0B0223;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-title p {
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 24px 100px;
    gap: 24px;
}
.card-container img {
    height: 200px;
    /* width: 100%; */
}
.card-container p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}
.card {
    margin: 0;
}


/* Play games online section style  */
.games-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin: 120px 100px;
}
.small-pic {
    width: 100%;
}
.img-2 {
    width: 100%;
}
.games-title{
    width: 500px;
}
.games-title h1 {
    font-size: 2rem;
    font-weight: 700;
}
.small-pic {
    position: relative;
    left: 80px;
    top: 140px;
}





/* footer style section  */
footer {
    background: #0B0223;
    padding-top: 120px;
}
.footer-logo {
    text-align: center;
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
}
.support-link {
    display: flex;
    justify-content: space-evenly;
    padding: 66px 200px;
}
.support-link a {
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
}
.social-link {
    display: flex;
    justify-content: space-evenly;
    padding: 0 300px 74px;
}
.policy-link {
    display: flex;
    justify-content: space-evenly;
    padding: 0 220px 28px;
}
.policy-link a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: .8rem;
    font-weight: 500;
}
.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 130px;
}




/* Medium devices (tablets, 425px and up) */
@media (min-width: 768px) {
    .nav-container {
       flex-direction: row;
    }
   }

/* Medium devices (tablets, 425px and up) */
@media (min-width: 425px) and (max-width:768px) {
 .nav-container {
    flex-direction: column;
 }
 .navbar {
    margin-top: 30px;
 }
 .title-container {
    padding: 80px 40px 80px;
 }
 .title-container button {
    margin-top: 17px;
 }
 .gamer-container {
    padding: 40px 35px;
 }
 .gamer-title {
    width: 730px;
 }
 .games-container {
    margin: 100px 40px;
 }
 .support-link{
    padding: 60px 100px;
 }
 .social-link {
    padding: 0 180px 74px;
 }
 .policy-link {
    padding: 0 110px 28px;
 }
}

/*Small devices (phones, 425px and down) */
@media (max-width: 425px) {
    .navbar {
        flex-direction: column;
        margin-top: 62px;
    }
    .header-container {
        flex-direction: column-reverse;
    }
    .title-container {
        padding: 40px 40px;
    }
    .gamer-container {
        flex-direction: column;
        text-align: center;
    }
    .gamer-title {
        width: 330px;
     }
     .online-title {
        margin: 60px 80px ;
     }
     .card-container {
        flex-direction: column;
        margin: 40px 60px;
        text-align: center;
     }
     .card-container img{
        width: 300px;
     }
     .games-container {
        flex-direction: column-reverse;
        margin: 30px 24px;
     }
    .games-title {
        width: 400px;
        text-align: center;
     }
     .games-title p {
        margin: 40px;
     }
     .small-pic {
        width: 30%;
        position: relative;
        left: -240px;
        top: -60px;
     }
     .img-2 {
        width: 85%;
        /* margin-left: 40px ; */
     }
     .support-link {
        flex-wrap: wrap;
        gap: 30px;
        padding: 60px 60px;
     }
     .social-link {
        padding: 0 70px 70px;
     }
     .policy-link {
        flex-wrap: wrap;
        gap: 20px;
        padding: 0 70px 28px;
     }
     .copyright {
        padding: 0 98px 130px;
     }
}